{% extends "member_base.html" %}

{% load staticfiles %}

{% block title %}Mello - Mitglieder{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-xs-12 col-lg-8 content gap-after">
      <div class="row">
	<div class="col-xs-10">
	  <h1>Mitglieder</h1>
	</div>
	<div class="col-xs-2">
	  <br/>
	  <p class="text-center">
	    <a href="{% url 'add_member' %}" class="btn btn-primary" id="id_new_member">+</a>
	  </p>
	</div>
      </div>
    </div>
    <div class="col-lg-2">
    </div>
  </div>
  {% for member in members %}
  <div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-xs-12 col-lg-8 content" id="member_id_{{ member.id }}">
      {% if member.image %}
      <img class="small-portrait" src="{% url 'member_img_small' member.id %}" %}" />
      {% else %}
      <img class="small-portrait" src="{% url 'member_img_small' 0 %}" />
      {% endif %}
      <strong>{{ member.login_name }}</strong> {{ member.full_name }}
    </div>
    <div class="col-lg-2">
    </div>
  </div>
  {% endfor %}
</div>
{%endblock %}

{% block scripts %}
<script> 
$( document ).ready(function() {
  $('#member_id_*').click(function() {
    console.log('click');
  });
  $('#member_id_*').mouseover(function() {
    console.log('mouse over');
  });
});


</script>
{% endblock %}

