{% extends "member_base.html" %}

{% load staticfiles %}

{% block title %}Mello - Mitglieder{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-xs-12 col-lg-8 content gap-after">
      <div class="row">
	<div class="col-xs-10">
	  <h1>Mitglieder</h1>
	</div>
	<div class="col-xs-2">
	  <br/>
	  <p class="text-center">
	    <a href="{% url 'add_member' %}" class="btn btn-primary" id="id_new_member">+</a>
	  </p>
	</div>
      </div>
    </div>
    <div class="col-lg-2">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">
      
    </div>
    <div class="col-xs-12 col-lg-8 content">
      Hello, World! 2
    </div>
    <div class="col-lg-2">
      
    </div>
  </div>
</div>
{%endblock %}


