
# django path
#-------------
*.pyc
*~
db.sqlite3

# bootstrap path
#----------------
#bootstrap/bootstrap-3.3.5/*
bootstrap/bootstrap-3.3.5/less/*
!bootstrap/bootstrap-3.3.5/less/variables.less

### 
