{% extends "project_base.html" %}

{% load staticfiles %}

{% block title %}Mello - Projekte{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-xs-12 col-lg-8 content gap-after">
      <div class="row">
	<div class="col-xs-10">
	  <h1>Projekte</h1>
	</div>
	<div class="col-xs-2">
	  <br/>
	  <p class="text-center">
	    <a href="{% url 'add_project' %}" class="btn btn-primary" id="id_new_project">+</a>
	  </p>
	</div>
      </div>
    </div>
    <div class="col-lg-2">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-xs-12 col-lg-8 content">
      <a href="#" class="hidden">x</a>Hello, World! 2
    </div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-xs-12 col-lg-8 content">
      Hello, World! 3
    </div>
    <div class="col-lg-2">
    </div>
  </div>
</div>
{%endblock %}


