.content{
    background-color:#fff;
}

.gap-before{
    margin-top: 10px;
}

.gap-after{
    margin-bottom: 10px;
}

.form-fixer{
    margin-bottom: 10px;
}

.small-portrait {
    padding: 5px 0;
}

.right-of-img {
    position: absolute;
    top: 0px;
    left: 180px;
}

#fileinput {
    opacity: 0;
}

#id_image {
    height: 150px;
    width: 150px;
}

